@{
	Layout = "_Layout";
	
}
<hr />


	<div class="calendar" id="calendarContainer">
		<div class="calendar">
			<div class="calendar-header">
				<button onclick="calendario.changeMonth(-1)">←</button>
				<h2 id="monthYear"></h2>
				<button onclick="calendario.changeMonth(1)">→</button>
			</div>
			<div class="days" id="daysContainer"></div>
		</div>
		<script src="js/calendario.js"></script>
		<script>
			const calendario = new Calendario();
			calendario.render();
		</script>
	</div>